Automated-Invoice-Processing-System.json
{
  "name": "Automated-Invoice-Processing-System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1xY4rg-xk08th8RaJ7lw70w5V9IZ-Jurm",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xY4rg-xk08th8RaJ7lw70w5V9IZ-Jurm"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        64
      ],
      "id": "e3014fd4-790b-4c71-ac80-2bf7a07b2aad",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ARMdobPg3mGcpnyv",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        64
      ],
      "id": "fece4aa3-5d46-42c6-a71b-5583fe9ede5a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ARMdobPg3mGcpnyv",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        384,
        -576
      ],
      "id": "82cf378f-3e3f-4674-a1b0-f80c3a7926e4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "Name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "Email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "Address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "type": "number",
              "description": "Phone of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "the total amount of the invice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "The date of the invoice sent",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "The date of the invoice is due"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1024,
        64
      ],
      "id": "3c006c79-8ee1-4136-87b2-354ca6e9af58",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1088,
        240
      ],
      "id": "c7c68058-35fb-4e98-a56a-1ebc735ed310",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l7dttSeSuIC7Ckbl",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qU-uGnVmT2jWd_LPC1kP-xKiB2D5uKsAQDc7UgbnXPg",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qU-uGnVmT2jWd_LPC1kP-xKiB2D5uKsAQDc7UgbnXPg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qU-uGnVmT2jWd_LPC1kP-xKiB2D5uKsAQDc7UgbnXPg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        64
      ],
      "id": "6cf70127-d60a-40ac-afc3-4f584627b6d3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iBKSIxgnY2VlwfrB",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extract from File1').item.json.lastModifyingUser.emailAddress }}",
        "subject": "={{ $json.output.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2144,
        64
      ],
      "id": "7dc3a43c-2b8e-4725-a8c8-567c8fd75882",
      "name": "Send a message",
      "webhookId": "ce6df04f-3733-4b39-99fb-618f6731289a",
      "credentials": {
        "gmailOAuth2": {
          "id": "bGuY4L0Hz8hUDaub",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing an email to the billing team.\n\nUse the following extracted invoice fields:\n\nInvoice Number:{{ $json['Invoice Number'] }}\nClient Name:{{ $json['Client Name'] }} \nClient Email:{{ $json['Client Email'] }}\nClient Address:{{ $json['Client Address'] }}\nClient Phone: {{ $json['Client Phone'] }}\nTotal Amount: {{ $json['Total Amount'] }}\nInvoice Date: {{ $json['Invoice Date'] }}\n\nIf any field is empty or NOT_PROVIDED, write an email asking only for the missing fields.\nIf nothing is missing, write a confirmation email that the invoice was processed.\n\nReturn JSON ONLY in this exact format:\n{\n  \"subject\": \"...\",\n  \"body\": \"...\"\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You will receive extracted invoice fields.\n\nIf any of these are empty, null, \"NOT_PROVIDED\", or \"N/A\":\nInvoice Number, Client Name, Client Email, Client Address, Client Phone, Total Amount, Invoice Date\nthen write an email saying ONLY those missing fields.\n\nOtherwise, write a confirmation email including ALL values.\n\nReturn ONLY valid JSON with:\n{\n \"Subject\": \"...\",\n \"Email\": \"...\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1792,
        64
      ],
      "id": "bc51bdfc-244f-44a1-bf87-505155916f13",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Subject\": \"\",\n\t\"Email\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        320
      ],
      "id": "25b2fbef-2835-4346-98f2-23cf4160b056",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1760,
        336
      ],
      "id": "2197c9f2-ff03-4bcd-ab28-65fc060e65c1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "xeubgcqrfFIh3WpG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2368,
        64
      ],
      "id": "4dea9a4d-33ce-45f3-978c-af11cd055383",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        96,
        64
      ],
      "id": "f9391282-16fd-468c-b2e4-496c605d589f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBGe1GwPiiHjNiR4w2X6rzzv8Wd9TlFshM"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Extract invoice fields and return ONLY raw JSON (no markdown, no ```json, no extra text).\\n\\nReturn exactly these keys:\\nInvoice Number, Client Name, Client Email, Client Address, Client Phone, Total Amount, Invoice Date.\\n\\nInvoice Text:\\n{{$json.text}}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        64
      ],
      "id": "95197000-f78e-435c-a4a3-989134ec5b61",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feef3f8d-aaac-4287-9526-cec83507205c",
              "name": "parsedInvoice",
              "value": "={{ JSON.parse($json.candidates[0].content.parts[0].text) }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        64
      ],
      "id": "a04f15f1-13b0-4fdf-9302-6f9e029145f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        224
      ],
      "id": "e9dca99f-ad9e-418c-9bb7-162e80517a8d",
      "name": "Wait",
      "webhookId": "a858ce36-7c22-429b-88e6-ec9718f07c89"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        160
      ],
      "id": "9e869d7f-b578-4b48-8efa-53f819990320",
      "name": "Wait1",
      "webhookId": "a858ce36-7c22-429b-88e6-ec9718f07c89"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        144
      ],
      "id": "47b760ba-5371-43db-beb0-d63b29c99ce6",
      "name": "Wait2",
      "webhookId": "a858ce36-7c22-429b-88e6-ec9718f07c89"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ae09d8d-7136-4143-beb8-6cc3b998e098",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a64e18360dd871e9e78bdb304f81616d375ccf553d8a83f662dca293b0723eb2"
  },
  "id": "juEPcRwME7iByYt8",
  "tags": []
}